
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            color: #333;
            text-align: center; /* Выравниваем все элементы по центру */
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
            padding: 20px;
        }
        h1, h2 {
            color: #333;
        }
        form {
            margin-top: 20px;
            background: white;
            padding: 20px;
            border-radius: 8px;
        }
        input, select, textarea {
            width: calc(100% - 22px);
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        button {
            background-color: #5c67f2;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #0056b3;
        }
        ul {
            background: white;
            list-style-type: none;
            padding: 20px;
            border-radius: 8px;
        }
        li {
            margin-bottom: 10px;
            padding: 10px;
            background: #e9e9ff;
            border-radius: 4px;
        }
        a {
            text-decoration: none;
            color: #333;
        }
        a:hover {
            text-decoration: underline;
        }
        #charts-container {
            width: 100%;
            max-width: 600px;
            margin: auto;
            text-align: center; /* Выравниваем элементы по центру */
        }
